<!DOCTYPE html>
<html ng-app='shoppingList'>

<head>
  <meta charset="utf-8">
  <title>ShoppingList</title>
  <link rel="stylesheet" href="front/css/master.css">
  <link rel="stylesheet" href="front/css/bootstrap.min.css">
  <script src="front/js/angular.js" charset="utf-8"></script>
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div>
          <img alt="TriAngular" class="center-block" src="http://kaanguven.com/uploads/images/triangle.png">
        </div>
      </div>
    </nav>
  </div>
  <div ng-controller='shoppingListController' class="container">
    <div class="row">
      <div class="col-md-6">
        <div ng-repeat='item in list'>
          <div class="row">
            <div class="col-md-6">{{item.article}} : {{item.quantity}}, {{item.category}}</div>
            <div class="col-md-6">
              <button type="button" name="button" class="btn btn-danger">X</button>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-6">
        <form novalidate class="simple-form">
          <label>Article: <input type="text" ng-model="newItem.article" required /></label><br />
          <label>Quantity: <input type="number" ng-model="newItem.quantity" min=1 required/></label><br />
          <label>Category:<select ng-model="newItem.category">
            <option value="dry">Sec</option>
            <option value="fruitsAndVegetables">Fruits et Légumes</option>
            <option value="fresh">Ultra Frais</option>
            <option value="other">Autre</option>
          </select></label><br>
          <input type="button" ng-click="reset()" value="Reset" />
          <input type="button" ng-click="create()" value="Save" />
        </form>
      </div>
    </div>
    <button type="button" name="button" class="btn btn-success" ng-click="getList()">Refresh</button>
  </div>
</body>
<script src="front/js/app.js" charset="utf-8"></script>

</html>
