<!DOCTYPE html>
<html ng-app='shoppingList'>

<head>
  <meta charset="utf-8">
  <title>ShoppingList</title>
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular.js" charset="utf-8"></script>
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div>
          <img alt="TriAngular" class="center-block" src="http://kaanguven.com/uploads/images/triangle.png">
        </div>
      </div>
    </nav>
  </div>
  <div ng-controller='shoppingListController' class="container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li ng-repeat='item in list'>{{item.article}}</li>
        </ul>
      </div>

      <div class="col-md-6">
        <form novalidate class="simple-form">
          <label>Article: <input type="text" ng-model="newItem.article" /></label><br />
          <label>Quantity: <input type="email" ng-model="newItem.quantity" /></label><br />
          <input type="button" ng-click="reset()" value="Reset" />
          <input type="submit" ng-click="create()" value="Save" />
        </form>
      </div>
    </div>
    <hr>
    <button type="button" name="button" class="btn btn-success" ng-click="getList()">Refresh</button>
  </div>
</body>
<script src="js/app.js" charset="utf-8"></script>

</html>
